Repository huangkaihao666/graduate-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.vue": ["eslint --fix", "prettier --write"],
  "frontend/**/*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: 管理后台基本功能实现
  backend/src/app.module.ts
  backend/src/common/guards/admin.guard.ts
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/admin/admin.service.ts
  frontend-react/src/api/admin.ts
  frontend-react/src/api/index.ts
  frontend-react/src/pages/admin/AdminHome.tsx
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/MessagesAdmin.tsx
  frontend-react/src/pages/admin/RoomsAdmin.tsx
  frontend-react/src/pages/admin/StatsAdmin.tsx
  frontend-react/src/pages/admin/UsersAdmin.tsx
  frontend-react/src/pages/admin/index.ts
  frontend-react/src/router/index.tsx
Due: eslint --fix, prettier --write

feat: 管理后台页面样式优化
  frontend-react/src/pages/admin-login/AdminLogin.tsx
  frontend-react/src/pages/admin/AdminLayout.less
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/MessagesAdmin.tsx
  frontend-react/src/pages/admin/RoomsAdmin.tsx
  frontend-react/src/pages/admin/StatsAdmin.tsx
  frontend-react/src/pages/admin/UsersAdmin.tsx
Due: none

feat(booking): 优化套餐浏览页面功能
  frontend/src/constants/package-hot-tags.ts
  frontend/src/views/booking/Packages.vue
Due: eslint --fix, prettier --write

feat(booking): 优化套餐浏览功能
  frontend/src/views/booking/Packages.vue
Due: eslint --fix, prettier --write

feat(admin): 初步完成管理员端
  backend/prisma/migrations/20260314132849_add_favorites/migration.sql
  backend/prisma/migrations/20260320154647_add_booking_orders/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.module.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/users/dto/create-user.dto.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  frontend/src/api/index.ts
  frontend/src/api/orders.ts
  frontend/src/api/users.ts
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/store/auth.ts
  frontend/src/views/admin/Dashboard.vue
  frontend/src/views/admin/Orders.vue
  frontend/src/views/admin/Users.vue
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/admin/content/Spots.vue
  frontend/src/views/admin/content/Styles.vue
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/auth/Login.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/user/Favorites.vue
Due: eslint --fix, prettier --write

feat(admin): 初步完成管理员端
  backend/package.json
  backend/prisma/migrations/20260320180000_add_catalog_spots_styles_packages/migration.sql
  backend/prisma/migrations/20260321120000_travel_package_spot_fk/migration.sql
  backend/prisma/migrations/20260321140000_travel_package_spot_set_null/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/app.module.ts
  backend/src/modules/auth/admin-or-jwt-auth.guard.ts
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/packages/packages.controller.ts
  backend/src/modules/packages/packages.module.ts
  backend/src/modules/packages/packages.service.ts
  backend/src/modules/spots/spots.controller.ts
  backend/src/modules/spots/spots.module.ts
  backend/src/modules/spots/spots.service.ts
  backend/src/modules/style-tags/style-tags.controller.ts
  backend/src/modules/style-tags/style-tags.module.ts
  backend/src/modules/style-tags/style-tags.service.ts
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/api/packages.ts
  frontend/src/api/spots.ts
  frontend/src/api/styleTags.ts
  frontend/src/utils/apiError.ts
  frontend/src/views/admin/Dashboard.vue
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/admin/content/Spots.vue
  frontend/src/views/admin/content/Styles.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/user/Favorites.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(photographers): 初步实现用户端和管理员端的摄影师页面
  .lintstagedrc.json
  backend/eslint.config.mjs
  backend/prisma/migrations/20260321180000_add_photographers/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/scripts/check-photographers.mjs
  backend/src/app.module.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/jwt.strategy.ts
  backend/src/modules/favorites/favorites.controller.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.module.ts
  backend/src/modules/photographers/photographers.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  frontend/src/api/index.ts
  frontend/src/api/photographers.ts
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/views/admin/content/Photographers.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Photographers.vue
  frontend/src/views/home/Dashboard.vue
Due: eslint --fix, prettier --write

feat(photographers): 添加摄影师介绍详情
  backend/prisma/migrations/20260321190000_photographer_avatar_longtext/migration.sql
  backend/prisma/migrations/20260321200000_photographer_profile_fields/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.service.ts
  backend/src/modules/users/users.service.ts
  frontend/eslint.config.js
  frontend/src/api/photographers.ts
  frontend/src/views/admin/content/Photographers.vue
  frontend/src/views/booking/Photographers.vue
Due: eslint --fix, prettier --write

feat(payment): 优化支付流程
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/payment.config.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/payments/payments.controller.ts
  backend/src/modules/payments/payments.module.ts
  backend/src/modules/payments/payments.service.ts
  backend/src/modules/payments/wechat-pay-v3.service.ts
  frontend/src/api/index.ts
  frontend/src/api/payments.ts
  frontend/src/router/index.ts
  frontend/src/views/booking/Order.vue
  frontend/src/views/payment/PaymentScan.vue
  frontend/src/views/user/Orders.vue
Due: eslint --fix, prettier --write

fix(ai): 修复虚拍生成问题
  backend/prisma/migrations/20260321143912_photographer_schedule_and_order_photographer/migration.sql
  backend/prisma/migrations/20260322140000_photographer_schedule_and_order_photographer/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.service.ts
  frontend/src/api/photographers.ts
  frontend/src/components/layout/Header.vue
  frontend/src/constants/booking.ts
  frontend/src/views/admin/Orders.vue
  frontend/src/views/admin/content/Photographers.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/booking/Photographers.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(ai): 添加男生、双人虚拍功能
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/constants/virtual-tryon-preferences.ts
  frontend/src/constants/virtual-tryon-subject.ts
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/user/AIHistory.vue
Due: eslint --fix, prettier --write

feat(ai): 优化照片生成风格
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/constants/travel-style-labels.ts
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/user/AIHistory.vue
Due: eslint --fix, prettier --write

fix(orders): 订单历史改用 localStorage，避免关闭浏览器后丢失
  frontend/src/views/booking/Order.vue
  frontend/src/views/user/Orders.vue
Due: eslint --fix, prettier --write

feat: 完善catpaw skill
  .catpaw/skills/graduate-design-implementation/SKILL.md
Due: prettier --write

style: 样式重构
  frontend-react/src/App.less
  frontend-react/src/components/AgentSelector/AgentSelector.less
  frontend-react/src/components/AgentSelector/AgentSelector.tsx
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/layouts/Layout.less
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/admin-login/AdminLogin.less
  frontend-react/src/pages/admin/AdminLayout.less
  frontend-react/src/pages/agents/Agents.less
  frontend-react/src/pages/auth/Auth.less
  frontend-react/src/pages/auth/Auth.tsx
  frontend-react/src/pages/case-detail/CaseDetail.less
  frontend-react/src/pages/create-case/CreateCase.less
  frontend-react/src/pages/dashboard/Dashboard.less
  frontend-react/src/pages/debate-room/DebateRoom.less
  frontend-react/src/pages/debate-room/components/ChatPanel.less
  frontend-react/src/pages/debate-room/components/DebateStage.less
  frontend-react/src/pages/debate-room/components/LeftPanel.less
  frontend-react/src/pages/debate-room/components/VoteBar.less
  frontend-react/src/pages/error/NotFound.less
  frontend-react/src/pages/error/NotFound.tsx
  frontend-react/src/pages/home/Home.less
  frontend-react/src/pages/home/Home.tsx
  frontend-react/src/pages/me/Me.less
  frontend-react/src/pages/my-cases/MyCases.less
  frontend-react/src/pages/profile/Profile.less
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/settings/Settings.less
  frontend-react/src/utils/theme.ts
Due: none

style: 添加必要骨架屏
  frontend-react/src/App.less
  frontend-react/src/App.tsx
  frontend-react/src/pages/agents/Agents.tsx
  frontend-react/src/pages/case-detail/CaseDetail.tsx
  frontend-react/src/pages/debate-room/DebateRoom.less
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/home/Home.less
  frontend-react/src/pages/home/Home.tsx
  frontend-react/src/pages/my-cases/MyCases.tsx
  frontend-react/src/pages/room-report/RoomReport.tsx
  frontend-react/src/utils/theme.ts
Due: none

style: 优化登录页面样式
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/auth/Auth.less
  frontend-react/src/pages/auth/Auth.tsx
Due: none

fix: 修复登录注册时的一些交互问题
  frontend-react/src/api/client.ts
  frontend-react/src/pages/auth/Auth.tsx
Due: none

style: 优化管理端的登录页面样式
  frontend-react/src/pages/admin-login/AdminLogin.less
  frontend-react/src/pages/admin-login/AdminLogin.tsx
Due: none

chore: 调整首页排版以及完善readme，补充评论模块todo
  TODO_CHECKLIST.md
  frontend-react/src/layouts/Layout.less
  frontend-react/src/layouts/Layout.tsx
Due: prettier --write

feat(order): 增加用户申请改期功能
  backend/prisma/migrations/20260323124143_add_order_reschedule_flow/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  frontend/src/api/orders.ts
  frontend/src/views/admin/Orders.vue
  frontend/src/views/user/Orders.vue
Due: eslint --fix, prettier --write

feat(ai): 初步完成智能客服AI问答功能
  backend/prisma/migrations/20260324032838_add_customer_support_history/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/api/index.ts
  frontend/src/components/layout/Header.vue
  frontend/src/router/index.ts
  frontend/src/views/help/HelpCenter.vue
Due: eslint --fix, prettier --write

feat(ui): 更新系统页面，并完成轮播图
  frontend/src/assets/images/hero/hero1.jpg
  frontend/src/assets/images/hero/hero2.jpg
  frontend/src/assets/images/hero/hero3.jpg
  frontend/src/assets/images/hero/hero4.jpg
  frontend/src/assets/images/hero/hero5.jpg
  frontend/src/assets/images/hero/hero6.jpg
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Layout.vue
  frontend/src/views/help/HelpCenter.vue
  frontend/src/views/home/Dashboard.vue
Due: eslint --fix, prettier --write

feat(ai): 修改虚拍试衣页面布局
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/views/ai/VirtualTryOn.vue
Due: eslint --fix, prettier --write

feat(ui): 美化页面
  backend/prisma/seed.ts
  frontend/src/assets/images/hero/hero1.jpg
  frontend/src/assets/images/hero/hero3.jpg
  frontend/src/assets/images/hero/hero4.jpg
  frontend/src/assets/images/hero/hero5.jpg
  frontend/src/assets/images/hero/hero6.jpg
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Layout.vue
  frontend/src/router/index.ts
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/home/Dashboard.vue
  frontend/src/views/plan/ItineraryPlanning.vue
Due: eslint --fix, prettier --write

fix: 修复案件的归属和用户切换时清除reactQuery缓存问题
  backend/src/modules/rooms/rooms.controller.ts
  backend/src/modules/rooms/rooms.service.ts
  frontend-react/src/hooks/useAuth.ts
  frontend-react/src/pages/admin/AdminLayout.tsx
Due: eslint --fix, prettier --write

feat: 添加主题色切换功能
  frontend-react/src/App.less
  frontend-react/src/App.tsx
  frontend-react/src/components/AgentSelector/AgentSelector.less
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/layouts/Layout.less
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/agents/Agents.less
  frontend-react/src/pages/case-detail/CaseDetail.less
  frontend-react/src/pages/create-case/CreateCase.less
  frontend-react/src/pages/dashboard/Dashboard.less
  frontend-react/src/pages/home/Home.less
  frontend-react/src/pages/me/Me.less
  frontend-react/src/pages/my-cases/MyCases.less
  frontend-react/src/pages/profile/Profile.less
  frontend-react/src/pages/settings/Settings.less
  frontend-react/src/store/uiStore.ts
Due: none

fix: 修复lint报错
  frontend-react/src/App.tsx
Due: none

chore: 代码格式化
  frontend-react/src/App.tsx
Due: none

feat: 新增评论和点赞功能
  backend/prisma/README.md
  backend/prisma/schema.prisma
  backend/src/modules/rooms/rooms.controller.ts
  backend/src/modules/rooms/rooms.service.ts
  frontend-react/src/api/rooms.ts
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/pages/case-detail/CaseDetail.less
  frontend-react/src/pages/case-detail/CaseDetail.tsx
  frontend-react/src/pages/home/Home.tsx
Due: eslint --fix, prettier --write

feat(worker): 初步完成工作人员页面
  backend/prisma/migrations/20260325085407_add_worker_and_chat/migration.sql
  backend/prisma/migrations/20260325120000_add_booking_custom_plan/migration.sql
  backend/prisma/migrations/20260325153000_add_user_role/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/app.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/users/users.service.ts
  frontend/package.json
  frontend/src/api/auth.ts
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Layout.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/store/auth.ts
  frontend/src/views/auth/Login.vue
  frontend/src/views/home/Dashboard.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/Dashboard.vue
  frontend/src/views/worker/pages/Messages.vue
  frontend/src/views/worker/pages/Orders.vue
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Profile.vue
  frontend/src/views/worker/pages/Schedule.vue
Due: eslint --fix, prettier --write

feat: 新增点赞和评论功能
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/notifications/notifications.module.ts
  backend/src/modules/notifications/notifications.service.ts
  backend/src/modules/rooms/rooms.service.ts
  frontend-react/src/api/notifications.ts
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.less
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.tsx
  frontend-react/src/layouts/Layout.tsx
Due: eslint --fix, prettier --write

feat(chat): 完成摄影师与用户对话功能
  backend/prisma/migrations/20260326120000_user_worker_photographer/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/users/users.service.ts
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/utils/orderChatStorage.ts
  frontend/src/utils/workerOrders.ts
  frontend/src/views/user/Chat.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/Dashboard.vue
  frontend/src/views/worker/pages/Messages.vue
  frontend/src/views/worker/pages/Orders.vue
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Profile.vue
  frontend/src/views/worker/pages/Schedule.vue
Due: eslint --fix, prettier --write

feat(booking): 恢复摄影师档期月历功能
  frontend/src/views/booking/Order.vue
Due: eslint --fix, prettier --write

feat(recommend): 采用协同滤波算法推荐套餐和地点
  backend/src/modules/packages/packages.controller.ts
  backend/src/modules/packages/packages.service.ts
  frontend/src/api/packages.ts
  frontend/src/views/booking/Packages.vue
Due: eslint --fix, prettier --write

feat(worker): 优化摄影师订单页面
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  frontend/src/views/booking/Packages.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/worker/pages/Orders.vue
Due: eslint --fix, prettier --write

feat: 完成摄影师修改密码功能
  backend/prisma/migrations/20260327120000_add_user_phone/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/jwt.strategy.ts
  backend/src/modules/users/users.service.ts
  frontend/src/api/auth.ts
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Profile.vue
Due: eslint --fix, prettier --write

feat: 完成摄影师绑定手机号功能
  backend/src/modules/users/users.service.ts
  frontend/src/views/worker/pages/Profile.vue
Due: eslint --fix, prettier --write

feat: 优化摄影师页面
  backend/src/modules/users/users.service.ts
  frontend/src/api/orders.ts
  frontend/src/components/layout/Layout.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/Dashboard.vue
  frontend/src/views/worker/pages/Messages.vue
  frontend/src/views/worker/pages/Orders.vue
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Profile.vue
  frontend/src/views/worker/pages/Schedule.vue
Due: eslint --fix, prettier --write

feat: 优化摄影师页面2
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/Dashboard.vue
  frontend/src/views/worker/pages/Schedule.vue
Due: eslint --fix, prettier --write
