Repository huangkaihao666/graduate-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.vue": ["eslint --fix", "prettier --write"],
  "frontend/**/*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: 同步用户和摄影师页面档期
  backend/prisma/migrations/20260328130000_photographer_rest_dates/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.service.ts
  frontend/src/api/photographers.ts
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Photographers.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Schedule.vue
Due: eslint --fix, prettier --write

feat: 管理员审核摄影师信息
  backend/prisma/migrations/20260328160000_photographer_approval/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/local-admin-bearer.guard.ts
  backend/src/modules/orders/orders.module.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.module.ts
  backend/src/modules/photographers/photographers.service.ts
  backend/src/modules/users/dto/create-user.dto.ts
  backend/src/modules/users/users.service.ts
  frontend/src/api/auth.ts
  frontend/src/api/photographers.ts
  frontend/src/views/admin/content/Photographers.vue
  frontend/src/views/auth/Login.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/Orders.vue
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Profile.vue
  frontend/src/views/worker/pages/Schedule.vue
Due: eslint --fix, prettier --write

feat: 优化消息对话功能
  frontend/src/utils/orderChatStorage.ts
  frontend/src/views/auth/Login.vue
  frontend/src/views/user/Chat.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/worker/pages/Messages.vue
Due: eslint --fix, prettier --write

feat: 完成用户发布自定义订单，摄影师接单功能
  backend/prisma/migrations/20260328210000_package_browse_logs/migration.sql
  backend/prisma/migrations/20260328220000_custom_shoot_requests/migration.sql
  backend/prisma/migrations/20260329103000_booking_order_custom_shoot/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/admin-insights/admin-insights.module.ts
  backend/src/modules/admin-insights/admin-insights.service.ts
  backend/src/modules/admin-insights/insights.controller.ts
  backend/src/modules/auth/admin-or-jwt-auth.guard.ts
  backend/src/modules/auth/local-admin-bearer.guard.ts
  backend/src/modules/auth/local-admin-token.util.ts
  backend/src/modules/auth/optional-jwt-auth.guard.ts
  backend/src/modules/custom-shoot-requests/custom-shoot-requests.controller.ts
  backend/src/modules/custom-shoot-requests/custom-shoot-requests.module.ts
  backend/src/modules/custom-shoot-requests/custom-shoot-requests.service.ts
  backend/src/modules/packages/packages.service.ts
  frontend/src/api/client.ts
  frontend/src/api/customShootRequests.ts
  frontend/src/api/insights.ts
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/utils/mergeOnlineOrderHistory.ts
  frontend/src/views/admin/Insights.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/user/CustomShootRequests.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/CustomMarket.vue
  package.json
Due: eslint --fix, prettier --write

feat: 优化页面和帮助中心功能
  backend/prisma/migrations/20260330120000_customer_support_title_pin/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/assets/images/help-chat-bubble.png
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Layout.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/booking/Photographers.vue
  frontend/src/views/help/HelpCenter.vue
  frontend/src/views/plan/ItineraryPlanning.vue
  frontend/src/views/user/AIHistory.vue
  frontend/src/views/user/Chat.vue
  frontend/src/views/user/CustomShootRequests.vue
  frontend/src/views/user/Favorites.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/user/Profile.vue
Due: eslint --fix, prettier --write

feat: 优化页面布局
  backend/src/modules/custom-shoot-requests/custom-shoot-requests.controller.ts
  backend/src/modules/custom-shoot-requests/custom-shoot-requests.service.ts
  frontend/src/api/customShootRequests.ts
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/utils/mergeOnlineOrderHistory.ts
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Photographers.vue
  frontend/src/views/help/HelpCenter.vue
  frontend/src/views/user/Chat.vue
  frontend/src/views/user/CustomShootRequests.vue
  frontend/src/views/user/Orders.vue
Due: eslint --fix, prettier --write

feat: 增加化妆师页面
  backend/src/main.ts
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/views/admin/content/MakeupArtists.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/MakeupAI.vue
  frontend/src/views/worker/pages/Portfolio.vue
Due: eslint --fix, prettier --write

feat: 添加一键试妆功能
  backend/package.json
  backend/prisma/backfill-order-user-id.ts
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  frontend/src/api/ai.ts
  frontend/src/api/orders.ts
  frontend/src/components/layout/Header.vue
  frontend/src/router/index.ts
  frontend/src/views/ai/MakeupTryOn.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/user/AIHistory.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/worker/pages/Messages.vue
Due: eslint --fix, prettier --write

feat: 支持一键试妆带入虚拍试衣
  frontend/src/views/ai/MakeupTryOn.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/MakeupAI.vue
Due: eslint --fix, prettier --write

feat: 优化化妆师端妆容建议页面
  frontend/src/views/worker/pages/MakeupAI.vue
Due: eslint --fix, prettier --write

feat: 支持用户下单时选择化妆师，摄影师接单后化妆师方可确认档期
  backend/prisma/migrations/20260331113000_order_makeup_assignment/migration.sql
  backend/prisma/migrations/20260331120000_user_worker_kind/migration.sql
  backend/prisma/schema.prisma
  backend/src/main.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.service.ts
  backend/src/modules/users/dto/create-user.dto.ts
  backend/src/modules/users/users.service.ts
  frontend/src/api/auth.ts
  frontend/src/api/orders.ts
  frontend/src/api/photographers.ts
  frontend/src/router/index.ts
  frontend/src/views/auth/Login.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/Orders.vue
  frontend/src/views/worker/pages/Profile.vue
Due: eslint --fix, prettier --write

style: 案件详情页样式优化
  frontend-react/src/pages/case-detail/CaseDetail.less
  frontend-react/src/pages/case-detail/CaseDetail.tsx
Due: none

fix: 修复工作人员作品描述功能
  backend/prisma/migrations/20260325153000_add_user_role/migration.sql
  backend/prisma/migrations/20260330193000_add_booking_order_messages/migration.sql
  backend/prisma/migrations/20260331160000_photographer_portfolio_items/migration.sql
  backend/prisma/schema.prisma
  backend/src/main.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/orders/orders.controller.ts
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.service.ts
  backend/src/modules/users/dto/create-user.dto.ts
  frontend/src/api/auth.ts
  frontend/src/api/photographers.ts
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/constants/booking.ts
  frontend/src/router/index.ts
  frontend/src/utils/orderChatStorage.ts
  frontend/src/views/admin/content/MakeupArtists.vue
  frontend/src/views/admin/content/Photographers.vue
  frontend/src/views/auth/Login.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/booking/Photographers.vue
  frontend/src/views/user/Chat.vue
  frontend/src/views/user/CustomShootRequests.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/CustomMarket.vue
  frontend/src/views/worker/pages/MakeupAI.vue
  frontend/src/views/worker/pages/Portfolio.vue
  frontend/src/views/worker/pages/Profile.vue
Due: eslint --fix, prettier --write

style: 结案页样式优化70%
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: none

feat: 优化首页功能
  frontend/src/components/layout/Header.vue
  frontend/src/router/index.ts
  frontend/src/views/booking/Packages.vue
  frontend/src/views/home/Dashboard.vue
  frontend/src/views/home/Home.vue
Due: eslint --fix, prettier --write

feat: 用户个人中心增加上传头像功能
  frontend/src/api/users.ts
  frontend/src/assets/images/hero/hero2.jpg
  frontend/src/assets/images/hero/hero3.jpg
  frontend/src/assets/images/hero/hero4.jpg
  frontend/src/assets/images/hero/hero5.jpg
  frontend/src/assets/images/hero/hero6.jpg
  frontend/src/assets/images/hero/xpsy1.jpg
  frontend/src/assets/images/hero/xpsy2.jpg
  frontend/src/assets/images/hero/xpsy3.jpg
  frontend/src/assets/images/hero/xpsy4.jpg
  frontend/src/assets/images/hero/xpsy5.jpg
  frontend/src/assets/images/hero/xpsy6.jpg
  frontend/src/components/layout/Header.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/home/Dashboard.vue
  frontend/src/views/user/Profile.vue
Due: eslint --fix, prettier --write

style: 结案页样式优化
  backend/src/modules/rooms/debate.service.ts
  frontend-react/src/App.less
  frontend-react/src/App.tsx
  frontend-react/src/layouts/Layout.less
  frontend-react/src/pages/room-report/RoomReport.less
Due: eslint --fix, prettier --write

style: 辩论页深色主题适配
  frontend-react/src/pages/debate-room/DebateRoom.less
  frontend-react/src/pages/debate-room/components/ChatPanel.less
  frontend-react/src/pages/debate-room/components/DebateStage.less
  frontend-react/src/pages/debate-room/components/LeftPanel.less
  frontend-react/src/pages/debate-room/components/VoteBar.less
Due: none

feat: 优化投票方式
  backend/src/modules/rooms/debate.service.ts
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/debate-room/components/LeftPanel.less
  frontend-react/src/pages/debate-room/components/LeftPanel.tsx
  frontend-react/src/pages/debate-room/components/VoteBar.less
  frontend-react/src/pages/debate-room/components/VoteBar.tsx
Due: eslint --fix, prettier --write

feat: 后台数据面板优化
  backend/src/modules/admin/admin.service.ts
  frontend-react/src/pages/admin/AdminHome.tsx
  frontend-react/src/pages/admin/StatsAdmin.tsx
Due: eslint --fix, prettier --write

feat: 结案报告页交互优化
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: none

feat: 完善分享功能
  frontend-react/src/pages/auth/Auth.tsx
  frontend-react/src/router/ProtectedRoute.tsx
Due: none

feat: 添加报告下载功能
  frontend-react/package.json
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
  frontend-react/src/utils/generateReportPdf.ts
  frontend-react/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write

style: 辩论室样式优化
  frontend-react/src/pages/debate-room/DebateRoom.less
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/debate-room/components/ChatPanel.less
  frontend-react/src/pages/debate-room/components/DebateStage.less
  frontend-react/src/pages/debate-room/components/LeftPanel.less
  frontend-react/src/pages/debate-room/components/LeftPanel.tsx
Due: none

style: 个人详情页样式优化
  frontend-react/src/pages/me/Me.less
  frontend-react/src/pages/me/Me.tsx
Due: none

feat(admin): 优化管理员端景点管理和套餐管理内容
  backend/prisma/migrations/20260402120000_cities_and_spot_details/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/packages/packages.controller.ts
  backend/src/modules/packages/packages.service.ts
  backend/src/modules/spots/cities.controller.ts
  backend/src/modules/spots/spots.controller.ts
  backend/src/modules/spots/spots.module.ts
  backend/src/modules/spots/spots.service.ts
  frontend/src/api/index.ts
  frontend/src/api/packages.ts
  frontend/src/api/spots.ts
  frontend/src/assets/images/taocan/sanya1.jpg
  frontend/src/assets/images/taocan/sanya2.jpg
  frontend/src/assets/images/taocan/xsbn1.jpg
  frontend/src/components/layout/Header.vue
  frontend/src/constants/spot-style-categories.ts
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/admin/content/Spots.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/booking/Photographers.vue
  frontend/src/views/home/Dashboard.vue
Due: eslint --fix, prettier --write

chore(admin): 优化管理员功能
  .gitignore
  backend/prisma/migrations/20260402160000_canonical_style_tags/migration.sql
  backend/prisma/migrations/20260402170000_style_tag_vto_fields/migration.sql
  backend/prisma/migrations/20260403120000_city_region/migration.sql
  backend/prisma/migrations/20260403130000_city_region_classify_seed/migration.sql
  backend/prisma/migrations/20260403140000_city_region_international_expand/migration.sql
  backend/prisma/migrations/20260404120000_backfill_worker_kind/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/admin-insights/admin-insights.service.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/packages/packages.service.ts
  backend/src/modules/spots/cities.controller.ts
  backend/src/modules/spots/spots.service.ts
  backend/src/modules/style-tags/canonical-style-tags.ts
  backend/src/modules/style-tags/style-tags.controller.ts
  backend/src/modules/style-tags/style-tags.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/api/insights.ts
  frontend/src/api/spots.ts
  frontend/src/api/styleTags.ts
  frontend/src/api/users.ts
  frontend/src/components/layout/Layout.vue
  frontend/src/constants/style-tag-default-preview.ts
  frontend/src/utils/cityInitialLetter.ts
  frontend/src/views/admin/Dashboard.vue
  frontend/src/views/admin/Insights.vue
  frontend/src/views/admin/Orders.vue
  frontend/src/views/admin/Users.vue
  frontend/src/views/admin/content/MakeupArtists.vue
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/admin/content/Photographers.vue
  frontend/src/views/admin/content/Spots.vue
  frontend/src/views/admin/content/Styles.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Packages.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 优化管理员功能
  backend/.env.example
  backend/src/modules/admin-insights/admin-insights.module.ts
  backend/src/modules/admin-insights/admin-insights.service.ts
  backend/src/modules/admin-insights/insights.controller.ts
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/api/insights.ts
  frontend/src/views/admin/Insights.vue
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/admin/content/Spots.vue
  frontend/src/views/booking/Packages.vue
Due: eslint --fix, prettier --write

feat: 增加自动识别照片填充妆容功能
  backend/.env.example
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/ai/dto/makeup-advisor-analyze-face.dto.ts
  frontend/eslint.config.js
  frontend/src/api/ai.ts
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/MakeupAI.vue
Due: eslint --fix, prettier --write

feat: 优化摄影师与妆造师合作绑定功能
  backend/package.json
  backend/prisma/migrations/20260402180000_photographer_pending_fixed_makeup/migration.sql
  backend/prisma/migrations/20260405085218/migration.sql
  backend/prisma/migrations/20260405120000_fixed_cooperation_notes/migration.sql
  backend/prisma/migrations/20260406120000_fixed_cooperation_dissolve/migration.sql
  backend/prisma/migrations/20260410120000_photographer_makeup_cooperations/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/orders/orders.service.ts
  backend/src/modules/photographers/photographers.controller.ts
  backend/src/modules/photographers/photographers.service.ts
  frontend/src/api/photographers.ts
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/router/index.ts
  frontend/src/views/booking/Packages.vue
  frontend/src/views/plan/ItineraryPlanning.vue
  frontend/src/views/worker/pages/Dashboard.vue
  frontend/src/views/worker/pages/Profile.vue
Due: eslint --fix, prettier --write

docs: 补充毕业论文基本内容
  docs/202010244410-林炜健-基于Spring Boot的诊所诊疗系统的设计与实现-pdf完整版.pdf
  docs/毕设参考.md
  docs/毕设论文.md
  docs/项目背景.md
Due: prettier --write

feat: 智能问答提前给提示词，根据账号知道角色是什么
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/auth/auth.module.ts
  frontend/src/router/index.ts
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/MakeupAI.vue
  frontend/src/views/worker/pages/Profile.vue
  frontend/src/views/worker/pages/WorkerHelpChat.vue
Due: eslint --fix, prettier --write

docs: 完善毕设的测试部分
  docs/毕设论文.md
Due: prettier --write

feat: 优化页面
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/packages/packages.controller.ts
  backend/src/modules/packages/packages.service.ts
  frontend/eslint.config.js
  frontend/src/api/packages.ts
  frontend/src/components/layout/Header.vue
  frontend/src/router/index.ts
  frontend/src/views/ai/MakeupTryOn.vue
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/home/Dashboard.vue
  frontend/src/views/plan/ItineraryPlanning.vue
  frontend/src/views/user/AIHistory.vue
  frontend/src/views/user/CustomShootRequests.vue
  frontend/src/views/user/Favorites.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/user/Profile.vue
Due: eslint --fix, prettier --write

feat: 新增套餐自动生成文案介绍
  backend/prisma/migrations/20260407183000_travel_package_multi_spots/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/packages/packages.controller.ts
  backend/src/modules/packages/packages.service.ts
  frontend/src/api/ai.ts
  frontend/src/api/packages.ts
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/booking/Packages.vue
Due: eslint --fix, prettier --write

docs: 添加毕设图表30%
  docs/毕设图表.md
Due: prettier --write

docs: 添加毕设图表40%
  docs/毕设图表.md
Due: prettier --write

feat: 生成过程中弹出弹框供用户浏览
  backend/src/modules/ai/ai.service.ts
  frontend/src/components/ai/AiGeneratingWaitModal.vue
  frontend/src/components/packages/PackagesBrowseEmbed.vue
  frontend/src/constants/package-hot-tags.ts
  frontend/src/constants/virtual-tryon-preferences.ts
  frontend/src/utils/ai-generation-flight.ts
  frontend/src/views/ai/MakeupTryOn.vue
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/plan/ItineraryPlanning.vue
  frontend/src/views/user/Favorites.vue
Due: eslint --fix, prettier --write

docs: 完善毕设图表
  docs/毕设图表.md
Due: prettier --write

docs: 更新后端启动命令相关的readme文档
  backend/README.md
Due: prettier --write
