Repository huangkaihao666/graduate-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.vue": ["eslint --fix", "prettier --write"],
  "frontend/**/*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

fix: 修复辩论间websocket报错问题
  backend/src/main.ts
  backend/src/modules/rooms/rooms.gateway.ts
Due: eslint --fix, prettier --write

feat: 优化用户端功能
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/components/ai/AiGeneratingWaitModal.vue
  frontend/src/components/packages/PackagesBrowseEmbed.vue
  frontend/src/constants/travel-style-labels.ts
  frontend/src/constants/virtual-tryon-preferences.ts
  frontend/src/views/ai/MakeupTryOn.vue
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/plan/ItineraryPlanning.vue
Due: eslint --fix, prettier --write

fix: 修复聊天窗头像问题以及更新key
  backend/.env
  backend/src/main.ts
  backend/src/modules/rooms/coze.service.ts
  frontend-react/src/pages/debate-room/components/ChatPanel.tsx
Due: eslint --fix, prettier --write

feat: 摄影师端增加拍照建议页面
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.service.ts
  backend/src/modules/ai/dto/photographer-shooting-advice.dto.ts
  frontend/src/api/ai.ts
  frontend/src/router/index.ts
  frontend/src/store/auth.ts
  frontend/src/utils/workerMakeupAdviceStorage.ts
  frontend/src/utils/workerPhotographerShootAdviceStorage.ts
  frontend/src/views/worker/WorkerShell.vue
  frontend/src/views/worker/pages/MakeupAI.vue
  frontend/src/views/worker/pages/PhotographerShootAdvice.vue
Due: eslint --fix, prettier --write

feat: 更新prisma配置
  backend/.env
  backend/prisma/README.md
  backend/prisma/migrations/20260414162946_add_notifications_message_likes_message_threading/migration.sql
Due: prettier --write

feat: 完善图表readme
  docs/毕设图表.md
  docs/毕设论文.md
Due: prettier --write

fix: 方案调整
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.docx
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.md
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image1.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image10.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image11.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image12.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image13.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image14.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image15.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image16.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image17.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image18.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image19.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image2.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image20.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image21.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image22.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image23.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image24.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image25.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image26.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image27.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image28.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image29.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image3.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image30.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image31.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image32.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image4.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image5.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image6.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image7.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image8.png
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.media/media/image9.png
  docs/模块实现方案.md
  docs/项目功能介绍.md
Due: prettier --write

docs: 项目重构readme方案补充
  docs/模块实现方案.md
  docs/毕设项目重构方案.md
  docs/项目功能介绍.md
Due: prettier --write

docs: 添加claude的skill
  .catpaw/skills/frontend-design/SKILL.md
  .claude/commands/frontend-design.md
  docs/毕设项目重构方案.md
Due: prettier --write

docs: 添加重构文档
  docs/REBUILD.md
  docs/基于多智能体协同与RAG架构的社交化生活决策辅助平台的设计与实现V5.docx
  docs/毕设参考.md
  docs/毕设项目重构方案.md
  docs/项目背景.md
Due: prettier --write

fix: 数据库迁移以及调整项目相关readme
  README.md
  backend/.env
  backend/README.md
  backend/prisma/README.md
  backend/prisma/migrations/20260309105820_init/migration.sql
  backend/prisma/migrations/20260309110240_update_user/migration.sql
  backend/prisma/migrations/20260414162946_add_notifications_message_likes_message_threading/migration.sql
  backend/prisma/migrations/20260424000000_init/migration.sql
  backend/prisma/schema.prisma
  docs/REBUILD.md
  frontend-react/README.md
Due: prettier --write

feat: 添加话题标签模块
  backend/prisma/seed.ts
  backend/src/app.module.ts
  backend/src/modules/rooms/dto/create-room.dto.ts
  backend/src/modules/rooms/dto/query-room.dto.ts
  backend/src/modules/rooms/rooms.service.ts
  backend/src/modules/tags/dto/tag.dto.ts
  backend/src/modules/tags/tags.controller.ts
  backend/src/modules/tags/tags.module.ts
  backend/src/modules/tags/tags.service.ts
  docs/REBUILD.md
  frontend-react/src/api/rooms.ts
  frontend-react/src/api/tags.ts
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/pages/create-case/CreateCase.less
  frontend-react/src/pages/create-case/CreateCase.tsx
  frontend-react/src/pages/home/Home.tsx
Due: eslint --fix, prettier --write

feat: 添加点赞收藏模块
  backend/src/modules/rooms/rooms.controller.ts
  backend/src/modules/rooms/rooms.service.ts
  docs/REBUILD.md
  frontend-react/src/api/rooms.ts
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/home/Home.tsx
  frontend-react/src/pages/my-cases/MyCases.tsx
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
  frontend-react/src/types/common.ts
Due: eslint --fix, prettier --write

feat: 添加辩论室用户观点模块
  backend/src/modules/rooms/debate.service.ts
  backend/src/modules/rooms/rooms.gateway.ts
  docs/REBUILD.md
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/debate-room/components/ChatPanel.less
  frontend-react/src/pages/debate-room/components/ChatPanel.tsx
Due: eslint --fix, prettier --write

feat: AI 共情师功能打通
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/counseling/counseling.controller.ts
  backend/src/modules/counseling/counseling.module.ts
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/rooms/coze.service.ts
  docs/REBUILD.md
  docs/模块实现方案.md
  frontend-react/package.json
  frontend-react/src/api/counseling.ts
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/counseling/Counseling.less
  frontend-react/src/pages/counseling/Counseling.tsx
  frontend-react/src/pages/counseling/index.ts
  frontend-react/src/pages/index.ts
  frontend-react/src/router/index.tsx
  frontend-react/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 创建智能体功能打通
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/custom-agents/custom-agents.controller.ts
  backend/src/modules/custom-agents/custom-agents.module.ts
  backend/src/modules/custom-agents/custom-agents.service.ts
  backend/src/modules/custom-agents/dto/create-agent.dto.ts
  backend/src/modules/custom-agents/dto/update-agent.dto.ts
  backend/src/modules/rooms/coze.service.ts
  backend/src/modules/rooms/rooms.module.ts
  docs/REBUILD.md
  frontend-react/src/api/customAgents.ts
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/agents/Agents.less
  frontend-react/src/pages/agents/Agents.tsx
  frontend-react/src/pages/create-agent/CreateAgent.less
  frontend-react/src/pages/create-agent/CreateAgent.tsx
  frontend-react/src/pages/create-agent/index.ts
  frontend-react/src/pages/index.ts
  frontend-react/src/router/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: 补充readme
  docs/REBUILD.md
Due: prettier --write

feat: 添加关注动态模块
  backend/src/modules/rooms/rooms.service.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  docs/REBUILD.md
  frontend-react/src/api/users.ts
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/case-detail/CaseDetail.less
  frontend-react/src/pages/case-detail/CaseDetail.tsx
  frontend-react/src/pages/feed/Feed.less
  frontend-react/src/pages/feed/Feed.tsx
  frontend-react/src/pages/feed/index.ts
  frontend-react/src/pages/index.ts
  frontend-react/src/pages/me/Me.less
  frontend-react/src/pages/me/Me.tsx
  frontend-react/src/router/index.tsx
Due: eslint --fix, prettier --write

feat: 添加成就中心模块
  backend/src/app.module.ts
  backend/src/modules/achievements/achievements.controller.ts
  backend/src/modules/achievements/achievements.module.ts
  backend/src/modules/achievements/achievements.service.ts
  backend/src/modules/counseling/counseling.module.ts
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/custom-agents/custom-agents.module.ts
  backend/src/modules/custom-agents/custom-agents.service.ts
  backend/src/modules/rooms/rooms.gateway.ts
  backend/src/modules/rooms/rooms.module.ts
  backend/src/modules/rooms/rooms.service.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
  docs/REBUILD.md
  frontend-react/src/api/achievements.ts
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/achievements/Achievements.less
  frontend-react/src/pages/achievements/Achievements.tsx
  frontend-react/src/pages/achievements/index.ts
  frontend-react/src/pages/index.ts
  frontend-react/src/pages/me/Me.tsx
  frontend-react/src/router/index.tsx
Due: eslint --fix, prettier --write

feat: 添加消息中心模块
  backend/prisma/schema.prisma
  backend/src/modules/achievements/achievements.service.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/notifications/notifications.service.ts
  backend/src/modules/rooms/rooms.service.ts
  docs/REBUILD.md
  frontend-react/src/api/notifications.ts
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.less
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.tsx
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/index.ts
  frontend-react/src/pages/notifications/Notifications.less
  frontend-react/src/pages/notifications/Notifications.tsx
  frontend-react/src/pages/notifications/index.ts
  frontend-react/src/router/index.tsx
Due: eslint --fix, prettier --write

feat: 添加管理员扩展模块
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/notifications/notifications.controller.ts
  backend/src/modules/notifications/notifications.service.ts
  docs/REBUILD.md
  frontend-react/src/api/admin.ts
  frontend-react/src/api/notifications.ts
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.tsx
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/AgentsAudit.less
  frontend-react/src/pages/admin/AgentsAudit.tsx
  frontend-react/src/pages/admin/AnnouncementsAdmin.less
  frontend-react/src/pages/admin/AnnouncementsAdmin.tsx
  frontend-react/src/pages/admin/TagsAdmin.less
  frontend-react/src/pages/admin/TagsAdmin.tsx
  frontend-react/src/pages/admin/index.ts
  frontend-react/src/pages/notifications/Notifications.tsx
  frontend-react/src/router/index.tsx
Due: eslint --fix, prettier --write

feat: 添加知识库审核功能
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/custom-agents/custom-agents.controller.ts
  backend/src/modules/custom-agents/custom-agents.service.ts
  backend/src/modules/rooms/coze.service.ts
  frontend-react/src/api/admin.ts
  frontend-react/src/api/client.ts
  frontend-react/src/api/customAgents.ts
  frontend-react/src/pages/admin-login/AdminLogin.tsx
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/AgentsAudit.less
  frontend-react/src/pages/admin/AgentsAudit.tsx
  frontend-react/src/pages/admin/KnowledgeBaseAdmin.less
  frontend-react/src/pages/admin/KnowledgeBaseAdmin.tsx
  frontend-react/src/pages/admin/index.ts
  frontend-react/src/pages/create-agent/CreateAgent.tsx
  frontend-react/src/router/AdminRoute.tsx
  frontend-react/src/router/index.tsx
  frontend-react/src/store/adminAuthStore.ts
  frontend-react/src/store/index.ts
Due: eslint --fix, prettier --write

docs: 更新方案
  docs/REBUILD.md
  docs/模块实现方案.md
  docs/毕设项目重构方案.md
Due: prettier --write

feat: 添加本地rag知识库
  .claude/settings.json
  .gitignore
  README.md
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/counseling/counseling.controller.ts
  backend/src/modules/counseling/counseling.module.ts
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/rag/rag.module.ts
  backend/src/modules/rag/rag.service.ts
  backend/src/modules/rooms/coze.service.ts
  backend/src/modules/rooms/debate.service.ts
  backend/src/modules/rooms/rooms.gateway.ts
  backend/src/modules/rooms/rooms.module.ts
  docs/REBUILD.md
  frontend-react/src/api/counseling.ts
  frontend-react/src/pages/counseling/Counseling.tsx
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  opinion-service/README.md
  opinion-service/TESTING.md
  opinion-service/chroma_store.py
  opinion-service/deduplicator.py
  opinion-service/embedder.py
  opinion-service/knowledge/irrelevant.txt
  opinion-service/knowledge/relevant.txt
  opinion-service/knowledge_loader.py
  opinion-service/main.py
  opinion-service/memory_store.py
  opinion-service/relevance_checker.py
  opinion-service/requirements.txt
  opinion-service/stance_detector.py
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 聊天室模块添加rag过滤垃圾信息和立场识别
  backend/src/modules/rag/rag.service.ts
  backend/src/modules/rooms/coze.service.ts
  backend/src/modules/rooms/debate.service.ts
  backend/src/modules/rooms/rooms.gateway.ts
  docs/模块实现方案.md
  docs/毕设项目重构方案.md
  docs/项目功能介绍.md
  frontend-react/src/pages/debate-room/DebateRoom.less
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/debate-room/components/ChatPanel.less
  frontend-react/src/pages/debate-room/components/ChatPanel.tsx
  opinion-service/TESTING.md
  opinion-service/knowledge/irrelevant.txt
  opinion-service/knowledge/relevant.txt
  opinion-service/knowledge/support_a.txt
  opinion-service/knowledge/support_b.txt
  opinion-service/knowledge_loader.py
  opinion-service/main.py
  opinion-service/relevance_checker.py
  opinion-service/stance_detector.py
Due: eslint --fix, prettier --write

fix: 支持自定义聊天智能体以及数据库表优化
  backend/prisma/schema.prisma
  backend/src/modules/counseling/counseling.controller.ts
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/rooms/rooms.service.ts
  docs/模块实现方案.md
  docs/毕设项目重构方案.md
  docs/项目功能介绍.md
  frontend-react/src/api/counseling.ts
  frontend-react/src/pages/counseling/Counseling.less
  frontend-react/src/pages/counseling/Counseling.tsx
Due: eslint --fix, prettier --write

style: 登录页样式优化和文案调整
  .claude/commands/SKILL.md
  frontend-react/index.html
  frontend-react/public/favicon.svg
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/admin-login/AdminLogin.tsx
  frontend-react/src/pages/auth/Auth.less
  frontend-react/src/pages/auth/Auth.tsx
  frontend-react/src/pages/home/Home.tsx
Due: prettier --write

style: 登录页样式调整
  .claude/commands/SKILL.md
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/layouts/Layout.less
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/auth/Auth.less
  frontend-react/src/pages/home/Home.less
  frontend-react/src/pages/home/Home.tsx
Due: prettier --write

style: 首页样式调整
  .claude/commands/SKILL.md
  README.md
  frontend-react/README.md
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/layouts/Layout.less
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/home/Home.less
  frontend-react/src/pages/home/Home.tsx
Due: prettier --write

style: 创建案例页样式调整
  frontend-react/src/App.less
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/pages/create-case/CreateCase.less
  frontend-react/src/pages/create-case/CreateCase.tsx
  frontend-react/src/utils/theme.ts
Due: none

style: 创建智能体页面样式优化
  frontend-react/src/pages/agents/Agents.less
  frontend-react/src/pages/agents/Agents.tsx
  frontend-react/src/pages/create-agent/CreateAgent.less
  frontend-react/src/pages/create-agent/CreateAgent.tsx
  frontend-react/src/pages/my-cases/MyCases.less
  frontend-react/src/pages/my-cases/MyCases.tsx
Due: none

style: 登录页样式优化
  .claude/commands/SKILL.md
  frontend-react/src/App.less
  frontend-react/src/layouts/Layout.less
  frontend-react/src/pages/auth/Auth.less
  frontend-react/src/pages/auth/Auth.tsx
  frontend-react/src/pages/home/Home.less
  frontend-react/src/pages/me/Me.less
  frontend-react/src/pages/me/Me.tsx
  frontend-react/src/router/index.tsx
  frontend-react/src/utils/theme.ts
Due: prettier --write

fix: 修复报错
  frontend-react/index.html
  frontend-react/src/pages/auth/Auth.less
Due: none

style: 管理端样式优化
  frontend-react/src/pages/admin-login/AdminLogin.less
  frontend-react/src/pages/admin/AdminHome.less
  frontend-react/src/pages/admin/AdminHome.tsx
  frontend-react/src/pages/admin/AdminLayout.less
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/AgentsAudit.less
  frontend-react/src/pages/admin/AnnouncementsAdmin.less
  frontend-react/src/pages/admin/KnowledgeBaseAdmin.less
  frontend-react/src/pages/admin/MessagesAdmin.less
  frontend-react/src/pages/admin/MessagesAdmin.tsx
  frontend-react/src/pages/admin/RoomsAdmin.less
  frontend-react/src/pages/admin/RoomsAdmin.tsx
  frontend-react/src/pages/admin/StatsAdmin.less
  frontend-react/src/pages/admin/StatsAdmin.tsx
  frontend-react/src/pages/admin/TagsAdmin.less
  frontend-react/src/pages/admin/UsersAdmin.less
  frontend-react/src/pages/admin/UsersAdmin.tsx
Due: none

feat: 优化辩论流程和AI共情师模块
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/rooms/coze.service.ts
  backend/src/modules/rooms/debate.service.ts
  backup_important_data.sql
  docs/功能验证手册.md
  docs/毕设项目重构方案.md
  docs/项目汇报.md
  frontend-react/src/api/admin.ts
  frontend-react/src/pages/admin/AdminHome.less
  frontend-react/src/pages/admin/AdminHome.tsx
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/EmotionAlertsAdmin.less
  frontend-react/src/pages/admin/EmotionAlertsAdmin.tsx
  frontend-react/src/pages/admin/index.ts
  frontend-react/src/pages/counseling/Counseling.less
  frontend-react/src/pages/counseling/Counseling.tsx
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/debate-room/components/LeftPanel.less
  frontend-react/src/pages/debate-room/components/LeftPanel.tsx
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
  frontend-react/src/router/index.tsx
  opinion-service/stance_detector.py
Due: eslint --fix, prettier --write

feat: 项目措词优化
  backend/prisma/seed.ts
  backend/src/modules/rooms/coze.service.ts
  docs/功能验证手册.md
  docs/毕设项目重构方案.md
  frontend-react/src/components/AgentSelector/AgentSelector.tsx
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/auth/Auth.tsx
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/debate-room/components/DebateStage.tsx
  frontend-react/src/pages/debate-room/components/LeftPanel.tsx
  frontend-react/src/pages/home/Home.tsx
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: eslint --fix, prettier --write

feat: 文档调整
  backend/prisma/seed.ts
  docs/毕设项目重构方案.md
Due: eslint --fix, prettier --write

feat: 结案报告页重构
  backend/src/modules/rooms/rooms.gateway.ts
  backend/src/modules/rooms/rooms.service.ts
  docs/功能验证手册.md
  docs/毕设项目重构方案.md
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: eslint --fix, prettier --write

feat: 添加管理员审核弹幕功能
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.controller.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/rooms/debate.service.ts
  backend/src/modules/rooms/rooms.gateway.ts
  docs/毕设项目重构方案.md
  frontend-react/src/api/admin.ts
  frontend-react/src/api/notifications.ts
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.tsx
  frontend-react/src/pages/admin/MessagesAdmin.less
  frontend-react/src/pages/admin/MessagesAdmin.tsx
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/notifications/Notifications.tsx
Due: eslint --fix, prettier --write
