Repository huangkaihao666/graduate-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: 添加 Husky 和 Lint-staged 使用指南
  HUSKY_LINT_STAGED_GUIDE.md
Due: prettier --write

feat: 添加 Commitlint 提交信息规范校验
  .husky/commit-msg
  .lintstagedrc.json
  .prettierignore
  commitlint.config.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: 补充 Commitlint 相关说明
  HUSKY_LINT_STAGED_GUIDE.md
Due: prettier --write

feat: 创建 NestJS 后端基本模板
  backend/.env.example
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/eslint.config.mjs
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/common/decorators/index.ts
  backend/src/common/filters/http-exception.filter.ts
  backend/src/common/filters/index.ts
  backend/src/common/index.ts
  backend/src/common/interceptors/index.ts
  backend/src/common/interceptors/transform.interceptor.ts
  backend/src/common/pipes/index.ts
  backend/src/common/pipes/validation.pipe.ts
  backend/src/config/index.ts
  backend/src/main.ts
  backend/src/modules/health/health.controller.ts
  backend/src/modules/health/health.module.ts
  backend/src/types/index.ts
  backend/src/utils/index.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

docs: 更新 README，添加中文内容和后端文档
  README.md
Due: prettier --write

docs: 更新后端 README 为中文
  backend/README.md
Due: prettier --write

feat(backend): integrate prisma orm with mysql
  backend/.env.example
  backend/.gitignore
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/migrations/.gitkeep
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/modules/users/dto/create-user.dto.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.service.ts
  backend/src/prisma/prisma.module.ts
  backend/src/prisma/prisma.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update prisma orm integration status
  README.md
Due: prettier --write

docs(backend): add prisma orm integration guide
  backend/README.md
Due: prettier --write

docs: 补充环境要求和快速开始指南
  README.md
  backend/README.md
Due: prettier --write

feat: 配置数据库连接并初始化迁移
  backend/prisma/migrations/20260211191640_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
Due: none

docs: 补充数据库本地配置详细步骤
  backend/README.md
Due: prettier --write

docs: 补充新人快速开始完整指南
  backend/README.md
Due: prettier --write

docs: 优化环境配置说明，直接编辑.env.example
  backend/README.md
Due: prettier --write

feat: 提交.env文件到版本控制，团队共享开发配置
  backend/.env
  backend/README.md
Due: prettier --write

feat: 集成 Swagger 自动生成 API 文档
  backend/README.md
  backend/package.json
  backend/src/main.ts
  backend/src/modules/users/dto/create-user.dto.ts
  backend/src/modules/users/users.controller.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 配置后端项目热更新、修复 Prisma 7 兼容性、完善 Swagger 文档、精简 README
  README.md
  backend/README.md
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/schema.prisma
  backend/src/app.controller.spec.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/src/prisma/prisma.service.ts
  backend/tsconfig.build.json
  backend/tsconfig.json
  frontend/README.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: 优化前端 axios 二次封装和首页 UI 交互
  backend/.env
  backend/eslint.config.mjs
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/jwt-auth.guard.ts
  backend/src/modules/auth/jwt.strategy.ts
  frontend/eslint.config.js
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/store/auth.ts
  frontend/src/utils/http.ts
  frontend/src/views/Home.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 修复前端 Ant Design Vue 引入和清理过时代码
  frontend/src/api/common.ts
  frontend/src/api/index.ts
  frontend/src/api/user.ts
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/views/ApiDemo.vue
Due: eslint --fix, prettier --write

fix: 修复前端 API 基础 URL 配置，添加 v1 前缀
  frontend/.env.development
  frontend/.env.production
Due: none

fix: 修复 Vite 开发服务器 localhost 访问问题
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

fix: 修复 auth store 初始化时 JSON 解析错误
  frontend/src/store/auth.ts
Due: eslint --fix, prettier --write

feat: React + TypeScript 项目基础搭建，配置路径别名和环境变量
  frontend-react/.gitignore
  frontend-react/README.md
  frontend-react/eslint.config.js
  frontend-react/index.html
  frontend-react/package.json
  frontend-react/public/vite.svg
  frontend-react/src/App.css
  frontend-react/src/App.tsx
  frontend-react/src/assets/react.svg
  frontend-react/src/index.css
  frontend-react/src/main.tsx
  frontend-react/tsconfig.app.json
  frontend-react/tsconfig.json
  frontend-react/tsconfig.node.json
  frontend-react/vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 配置 ESLint、Prettier、Stylelint 和相关 npm scripts
  frontend-react/package.json
Due: prettier --write

feat: 集成 Zustand、React Router、TanStack Query、Ant Design 和核心页面
  frontend-react/package.json
Due: prettier --write

feat: 完整实现 React 应用，包含全部业务代码
  frontend-react/src/api/auth.ts
  frontend-react/src/api/client.ts
  frontend-react/src/api/index.ts
  frontend-react/src/hooks/index.ts
  frontend-react/src/hooks/useAuth.ts
  frontend-react/src/layouts/Layout.css
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/Dashboard.css
  frontend-react/src/pages/Dashboard.tsx
  frontend-react/src/pages/Login.css
  frontend-react/src/pages/Login.tsx
  frontend-react/src/pages/NotFound.tsx
  frontend-react/src/router/ProtectedRoute.tsx
  frontend-react/src/router/index.tsx
  frontend-react/src/store/authStore.ts
  frontend-react/src/store/index.ts
  frontend-react/src/store/uiStore.ts
  frontend-react/src/types/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 配置 frontend-react 为 pnpm workspace 子项目，使用淘宝镜像源，完成项目构建
  frontend-react/src/api/auth.ts
  frontend-react/src/api/client.ts
  frontend-react/src/api/index.ts
  frontend-react/src/hooks/index.ts
  frontend-react/src/hooks/useAuth.ts
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/Dashboard.tsx
  frontend-react/src/pages/Login.tsx
  frontend-react/src/pages/NotFound.tsx
  frontend-react/src/router/ProtectedRoute.tsx
  frontend-react/src/router/index.tsx
  frontend-react/src/store/authStore.ts
  frontend-react/src/store/index.ts
  frontend-react/src/store/uiStore.ts
  frontend-react/src/types/common.ts
  frontend-react/tsconfig.app.json
  frontend-react/tsconfig.node.json
  frontend-react/tsconfig.node.tsbuildinfo
  frontend-react/vite.config.d.ts
  frontend-react/vite.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat: 完整实现登录鉴权流程，参考 Vue 前端项目，API 与后端对接
  frontend-react/src/api/auth.ts
  frontend-react/src/api/client.ts
  frontend-react/src/hooks/useAuth.ts
  frontend-react/src/pages/Dashboard.tsx
  frontend-react/src/pages/Login.css
  frontend-react/src/pages/Login.tsx
  frontend-react/src/router/ProtectedRoute.tsx
  frontend-react/src/router/index.tsx
  frontend-react/src/store/authStore.ts
  frontend-react/src/types/common.ts
  frontend-react/vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 重组 pages 目录结构，全量转换为 less 样式，修复 vite 路径别名配置
  frontend-react/package.json
  frontend-react/src/App.css
  frontend-react/src/App.less
  frontend-react/src/App.tsx
  frontend-react/src/layouts/Layout.css
  frontend-react/src/layouts/Layout.less
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/Dashboard.css
  frontend-react/src/pages/auth/Login.less
  frontend-react/src/pages/auth/Login.tsx
  frontend-react/src/pages/auth/index.ts
  frontend-react/src/pages/dashboard/Dashboard.less
  frontend-react/src/pages/dashboard/Dashboard.tsx
  frontend-react/src/pages/dashboard/index.ts
  frontend-react/src/pages/error/NotFound.less
  frontend-react/src/pages/error/NotFound.tsx
  frontend-react/src/pages/error/index.ts
  frontend-react/src/pages/index.ts
  frontend-react/src/router/index.tsx
  frontend-react/tsconfig.node.tsbuildinfo
  frontend-react/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

fix: 修复登录流程，清理文件格式错误，转换 index.css 为 less
  frontend-react/src/api/client.ts
  frontend-react/src/hooks/useAuth.ts
Due: eslint --fix, prettier --write

feat: react的鉴权联调以及跨域配置
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  frontend-react/.env.development
  frontend-react/.env.production
  frontend-react/src/api/auth.ts
  frontend-react/src/api/client.ts
  frontend-react/src/hooks/useAuth.ts
  frontend-react/src/pages/auth/Login.tsx
  frontend-react/src/pages/dashboard/Dashboard.tsx
  frontend-react/src/types/common.ts
  frontend-react/vite.config.ts
Due: eslint --fix, prettier --write

feat: 添加skill配置
  .catpaw/skills/graduate-design-guide/SKILL.md
  .catpaw/skills/graduate-design-guide/STANDARDS.md
  .catpaw/skills/graduate-design-guide/TROUBLESHOOTING.md
Due: prettier --write

refactor(skill): 调整 Skill 配置，仅保留 React 18 前端和 NestJS 后端相关内容，移除 Vue 3 前端说明
  .catpaw/skills/graduate-design-guide/SKILL.md
Due: prettier --write

docs(skill): 补充 STANDARDS.md 和 TROUBLESHOOTING.md 的详细内容
  .catpaw/skills/graduate-design-guide/STANDARDS.md
  .catpaw/skills/graduate-design-guide/TROUBLESHOOTING.md
Due: prettier --write

docs(skill): 为 Vue 3 前端项目创建 Skill 指南
  .catpaw/skills/graduate-design-guide-vue/SKILL.md
  .catpaw/skills/graduate-design-guide-vue/STANDARDS.md
  .catpaw/skills/graduate-design-guide-vue/TROUBLESHOOTING.md
Due: prettier --write

feat: 添加登录模块
  frontend/src/assets/styles/global.less
  frontend/src/router/index.ts
  frontend/src/views/Home.vue
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/auth/Login.vue
  frontend/src/views/home/Dashboard.vue
  frontend/src/views/home/Home.vue
  frontend/src/views/plan/ItineraryPlanning.vue
  frontend/src/views/system/About.vue
  frontend/src/views/system/NotFound.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: 完善前端基本框架
  frontend/src/App.vue
  frontend/src/components/common/EmptyState.vue
  frontend/src/components/common/LoadingSpinner.vue
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/Layout.vue
  frontend/src/components/layout/Sidebar.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/store/auth.ts
  frontend/src/types/index.ts
  frontend/src/views/admin/Dashboard.vue
  frontend/src/views/admin/Orders.vue
  frontend/src/views/admin/content/Packages.vue
  frontend/src/views/admin/content/Spots.vue
  frontend/src/views/admin/content/Styles.vue
  frontend/src/views/auth/Login.vue
  frontend/src/views/booking/Order.vue
  frontend/src/views/booking/Packages.vue
  frontend/src/views/user/AIHistory.vue
  frontend/src/views/user/Favorites.vue
  frontend/src/views/user/Orders.vue
  frontend/src/views/user/Profile.vue
Due: eslint --fix, prettier --write

feat: 实现AI功能部分(待db实现)
  backend/.env
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.module.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/api/ai.ts
  frontend/src/views/ai/StyleRecommendation.vue
  frontend/src/views/ai/VirtualTryOn.vue
  frontend/src/views/plan/ItineraryPlanning.vue
Due: eslint --fix, prettier --write

feat: AI功能部分数据库实现
  backend/README.md
  backend/prisma/migrations/20260220212105_add_ai_history_tables/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/ai/ai.controller.ts
  backend/src/modules/ai/ai.module.ts
  backend/src/modules/ai/ai.service.ts
  frontend/src/views/ai/VirtualTryOn.vue
Due: eslint --fix, prettier --write

feat: 登录注册实现
  .catpaw/skills/graduate-design-implementation/SKILL.md
  TODO_CHECKLIST.md
  backend/prisma/schema.prisma
  backend/src/modules/users/dto/create-user.dto.ts
  frontend-react/package.json
  frontend-react/src/App.less
  frontend-react/src/App.tsx
  frontend-react/src/api/auth.ts
  frontend-react/src/api/client.ts
  frontend-react/src/hooks/useAuth.ts
  frontend-react/src/layouts/Layout.tsx
  frontend-react/src/pages/auth/Auth.less
  frontend-react/src/pages/auth/Auth.tsx
  frontend-react/src/pages/auth/Login.tsx
  frontend-react/src/pages/dashboard/Dashboard.tsx
  frontend-react/src/router/ProtectedRoute.tsx
  frontend-react/src/types/common.ts
  frontend-react/src/utils/index.ts
  frontend-react/src/utils/theme.ts
  frontend-react/tsconfig.node.tsbuildinfo
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.vue)) or (any of: *.{css,scss,less})) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,scss,less}
