Repository huangkaihao666/graduate-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "backend/**/*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.vue": ["eslint --fix", "prettier --write"],
  "frontend/**/*.{css,scss,less}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: 管理端数据面板优化
  backend/src/modules/admin/admin.service.ts
  frontend-react/src/pages/admin/AdminHome.less
  frontend-react/src/pages/admin/AdminHome.tsx
  frontend-react/src/pages/admin/AdminLayout.tsx
  frontend-react/src/pages/admin/index.ts
  frontend-react/src/router/index.tsx
Due: eslint --fix, prettier --write

fix: 修复点赞的报错问题
  backend/src/modules/rooms/rooms.service.ts
Due: eslint --fix, prettier --write

feat: 调整措辞和弹幕消息在管理端的排序方式
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/counseling/counseling.service.ts
  frontend-react/src/pages/counseling/Counseling.tsx
  frontend-react/src/pages/create-agent/CreateAgent.tsx
  frontend-react/src/pages/debate-room/components/LeftPanel.tsx
Due: eslint --fix, prettier --write

fix: 修复投票比例的展示信息
  backend/src/modules/rooms/rooms.service.ts
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/components/CaseCard/CaseCard.tsx
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: eslint --fix, prettier --write

feat: 添加新版的毕业论文
  docs/模块实现方案.md
  docs/毕业论文_new.md
  docs/毕设项目重构方案.md
  docs/论文写作上下文.md
  docs/项目功能介绍.md
Due: prettier --write

feat: 完善AI情绪伙伴新建会话时的招呼语
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/rooms/coze.service.ts
  docs/功能验证手册.md
  frontend-react/src/pages/counseling/Counseling.tsx
Due: eslint --fix, prettier --write

feat: 添加续辩功能
  backend/prisma/schema.prisma
  backend/src/modules/rooms/coze.service.ts
  backend/src/modules/rooms/debate.service.ts
  backend/src/modules/rooms/rooms.controller.ts
  backend/src/modules/rooms/rooms.service.ts
  docs/毕设项目重构方案.md
  frontend-react/src/api/rooms.ts
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: eslint --fix, prettier --write

feat: 添加用户自建智能体的知识库继承机制
  backend/.env
  backend/src/modules/custom-agents/custom-agents.service.ts
  docs/毕业论文_new.md
  docs/毕设项目重构方案.md
  docs/论文写作上下文.md
Due: eslint --fix, prettier --write

docs: 毕业论文完善
  docs/毕业论文_new.md
Due: prettier --write

docs: 毕业图表补充
  docs/.~论文_new.docx
  docs/毕业论文_new.docx
  docs/毕业论文图表.md
Due: prettier --write

feat: 优化关键论点速览部分的交互
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/src/pages/room-report/RoomReport.tsx
Due: none

fix: 修复智能体投票时名字展示不全的bug
  frontend-react/src/components/CaseCard/CaseCard.less
  frontend-react/src/pages/create-agent/CreateAgent.tsx
  frontend-react/src/pages/create-case/CreateCase.tsx
  frontend-react/src/pages/debate-room/components/VoteBar.less
Due: none

feat: 数据库备份
  backend/package.json
  backend/prisma/README.md
  backend/prisma/seed.demo.ts
Due: eslint --fix, prettier --write

feat: 添加文献引用
  docs/毕业论文_new.md
Due: prettier --write

feat: 添加测试数据
  backend/prisma/README.md
  backend/prisma/seed.demo.ts
Due: eslint --fix, prettier --write

feat: 添加数据库备份数据
  DATABASE_RESTORE.md
  database_backup_20260430.sql
Due: prettier --write

feat: 添加Windows运行配置
  backend/.env
  backend/prisma/migrations/20260429164840_align_with_demo_schema/migration.sql
  opinion-service/README.md
  opinion-service/main.py
Due: prettier --write

feat: 调整系统架构图
  docs/毕业论文_new.md
  docs/毕业论文图表.md
  docs/论文写作上下文.md
Due: prettier --write

feat: 调整流程图为竖直方向
  docs/毕业论文图表.md
Due: prettier --write

feat: 更新apikey
  backend/.env
  docs/功能验证手册.md
  opinion-service/README.md
  opinion-service/答辩问答.md
Due: prettier --write

feat: 更新智能体免费额度账号信息
  backend/.env
  backend/.env.example
  backend/src/modules/counseling/counseling.service.ts
  backend/src/modules/rooms/coze.service.ts
  backend/src/modules/rooms/debate.service.ts
  backend/src/modules/rooms/rooms.service.ts
  docs/REBUILD.md
  docs/功能验证手册.md
Due: eslint --fix, prettier --write

feat: 完善中立观察者发言规范
  backend/.env
  backend/.env.example
  backend/src/modules/admin/admin.module.ts
  backend/src/modules/admin/admin.service.ts
  backend/src/modules/custom-agents/custom-agents.service.ts
  backend/src/modules/custom-agents/dto/create-agent.dto.ts
  backend/src/modules/rooms/coze.service.ts
  docs/功能验证手册.md
Due: eslint --fix, prettier --write

feat: 修复情绪伙伴提示语
  backend/src/modules/counseling/counseling.service.ts
  frontend-react/src/api/counseling.ts
  frontend-react/src/pages/counseling/Counseling.less
  frontend-react/src/pages/counseling/Counseling.tsx
Due: eslint --fix, prettier --write

feat: 修复知识库绑定问题
  backend/.env
  backend/.env.example
  backend/src/modules/custom-agents/custom-agents.service.ts
  backend/src/modules/rooms/coze.service.ts
Due: eslint --fix, prettier --write

feat: 修复ts类型报错问题
  .vscode/settings.json
  backend/eslint.config.mjs
  frontend-react/eslint.config.js
  frontend-react/tsconfig.app.json
Due: eslint --fix, prettier --write

feat: 更新图表
  docs/毕业论文图表.md
Due: prettier --write

feat: 优化聊天功能
  backend/src/modules/counseling/counseling.controller.ts
  backend/src/modules/counseling/counseling.service.ts
  frontend-react/src/api/counseling.ts
  frontend-react/src/pages/counseling/Counseling.tsx
Due: eslint --fix, prettier --write

feat: 项目部署配置调整
  backend/.env.example
  backend/prisma/migrations/20260424000000_init/migration.sql
  backend/prisma/schema.prisma
  backend/src/config/cors.ts
  backend/src/main.ts
  backend/src/modules/rooms/rooms.gateway.ts
  frontend-react/.env.development
  frontend-react/.env.production
  frontend-react/src/api/baseUrl.ts
  frontend-react/src/api/client.ts
  frontend-react/src/api/rooms.ts
  frontend-react/src/components/NotificationDropdown/NotificationDropdown.tsx
  frontend-react/src/pages/counseling/Counseling.tsx
  frontend-react/src/pages/debate-room/DebateRoom.tsx
  frontend-react/src/pages/feed/Feed.tsx
  frontend-react/src/pages/room-report/RoomReport.less
  frontend-react/vercel.json
Due: eslint --fix, prettier --write
